{% extends '::base.html.twig' %}
{% block tab_title %}Oops!{% endblock %}
{% block title %}<b>Ah crap!</b>{% endblock %}
{% block body %}
    <div class="navbar navbar-static-top">
        <div class="alert alert-danger app-flash">
            Oops! Sorry We ran into errors!
        </div>
    </div>
    <section class="col-xs-12 col-md-8 text-center">
        <h3>We messed up! Our bad...</h3>
    </section>
{% endblock %}





